<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>画像を保存するためにフォトライブラリへのアクセスを許可してください。</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>画像を保存する目的でフォトライブラリへの書き込みを許可してください。</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>カメラを使用します</string>
	</dict>
</dict>
</plist>
